broker-latency-4.json
[{"id":"3d0155b1.1b1d62","type":"mqtt in","z":"cada641.40a5218","name":"Subscriber","topic":"/uwe","qos":"1","broker":"365afd7a.500da2","x":320,"y":262,"wires":[["433371b4.83dde"]]},{"id":"9f827dd3.1665e","type":"mqtt out","z":"cada641.40a5218","name":"Hivemq","topic":"/uwe","qos":"1","retain":"","broker":"365afd7a.500da2","x":320,"y":221,"wires":[]},{"id":"49c00599.a3c29c","type":"inject","z":"cada641.40a5218","name":"Every one 1 sec","topic":"timestamp","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":95,"y":321,"wires":[["4245e439.6dcd8c","7e0fdece.9d4158","9f827dd3.1665e","f66c86ae.755eb8"]]},{"id":"b54a1839.cfa1c","type":"debug","z":"cada641.40a5218","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1196.5,"y":121,"wires":[]},{"id":"3ad70430.8a6acc","type":"function","z":"cada641.40a5218","name":"deltaT","func":"\n// message generation time is in the message\n// itself. Latency is the difference betwen then\n// and now.\nvar d = new Date();\n//console.log (\"d \"+d)\nvar now = d.getTime();\nvar prev = msg.payload;\n\nif (now<prev) {\n        console.log(\"ERROR now \"+now+\" < prev \" +prev+\"!\");\n        prev = now;\n}\n\ndelta = now-prev;\n//console.log(\"tDiff = \",now,\"-\",prev,\"=\",delta);\n\nmsg.payload = delta;\n\nreturn msg;","outputs":1,"noerr":0,"x":762.5,"y":453,"wires":[["d856f81e.d5e758","b54a1839.cfa1c"]]},{"id":"d856f81e.d5e758","type":"ui_chart","z":"cada641.40a5218","name":"","group":"9fe73c4.77369c","order":2,"width":"0","height":"0","label":"latency (msec)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1207.5,"y":339,"wires":[[],[]],"inputLabels":["msg.payload"],"outputLabels":["delta",""]},{"id":"cb60f33.22eec1","type":"inject","z":"cada641.40a5218","name":"Clear chart","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":840.5,"y":94,"wires":[["d856f81e.d5e758"]]},{"id":"5413bab8.3f2394","type":"comment","z":"cada641.40a5218","name":"Dashboard","info":"","x":1196.5,"y":269,"wires":[]},{"id":"aa996e19.e70348","type":"comment","z":"cada641.40a5218","name":"Latency processing","info":"","x":769.5,"y":349,"wires":[]},{"id":"ec440f19.559b5","type":"comment","z":"cada641.40a5218","name":"Brokers","info":"","x":313.5,"y":168,"wires":[]},{"id":"433371b4.83dde","type":"change","z":"cada641.40a5218","name":"Put broker name in topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"broker.hivemq.com","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":507.5,"y":267,"wires":[["3ad70430.8a6acc"]]},{"id":"aee6def1.16c7d","type":"mqtt in","z":"cada641.40a5218","name":"Subscriber","topic":"/uwe","qos":"1","broker":"d2798c21.0ce7f","x":319,"y":394,"wires":[["54933ec2.70cf"]]},{"id":"7e0fdece.9d4158","type":"mqtt out","z":"cada641.40a5218","name":"iot.eclipse.org","topic":"/uwe","qos":"1","retain":"","broker":"d2798c21.0ce7f","x":339,"y":353,"wires":[]},{"id":"54933ec2.70cf","type":"change","z":"cada641.40a5218","name":"Put broker name in topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"iot.eclipse.org","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":506.5,"y":399,"wires":[["3ad70430.8a6acc"]]},{"id":"e86c0771.9497d","type":"mqtt in","z":"cada641.40a5218","name":"Subscriber","topic":"/uwe","qos":"1","broker":"71bbcc7a.43448c","x":318,"y":493,"wires":[["223df676.3c4242"]]},{"id":"4245e439.6dcd8c","type":"mqtt out","z":"cada641.40a5218","name":"Mosquitto","topic":"/uwe","qos":"1","retain":"","broker":"71bbcc7a.43448c","x":318,"y":452,"wires":[]},{"id":"223df676.3c4242","type":"change","z":"cada641.40a5218","name":"Put broker name in topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"mosquitto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":505.5,"y":498,"wires":[["3ad70430.8a6acc"]]},{"id":"baba3a93.1479a8","type":"mqtt in","z":"cada641.40a5218","name":"Subscriber","topic":"/uwe","qos":"1","broker":"b8aa226a.e08cd","x":333,"y":679,"wires":[["b3fa6591.6cb358"]]},{"id":"24573e12.8e9ee2","type":"mqtt out","z":"cada641.40a5218","name":"MessageSight","topic":"/uwe","qos":"1","retain":"","broker":"b8aa226a.e08cd","x":353,"y":638,"wires":[]},{"id":"b3fa6591.6cb358","type":"change","z":"cada641.40a5218","name":"Put broker name in topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"Messagesight","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520.5,"y":684,"wires":[["3ad70430.8a6acc"]]},{"id":"891b466e.d52fb8","type":"mqtt in","z":"cada641.40a5218","name":"Subscriber","topic":"/uwe","qos":"1","broker":"99148c6c.fa51c","x":319,"y":591,"wires":[["647d4e72.83bc1"]]},{"id":"f66c86ae.755eb8","type":"mqtt out","z":"cada641.40a5218","name":"test.mosquitto.org","topic":"/uwe","qos":"1","retain":"","broker":"99148c6c.fa51c","x":349,"y":550,"wires":[]},{"id":"647d4e72.83bc1","type":"change","z":"cada641.40a5218","name":"Put broker name in topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"test.mosquitto.org","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":506.5,"y":596,"wires":[["3ad70430.8a6acc"]]},{"id":"72d89ad1.b93e84","type":"ui_template","z":"cada641.40a5218","group":"9fe73c4.77369c","name":"","order":0,"width":0,"height":0,"format":"<div><p ng-style=\"{color: 'black', background: 'white'}\">Check out <A HREF=https://www.gambitcomm.com>MIMIC MQTT Simulator</A> to test end-to-end latency at high scale.</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1160,"y":460,"wires":[[]]},{"id":"365afd7a.500da2","type":"mqtt-broker","z":"","name":"Hivemq","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"9fe73c4.77369c","type":"ui_group","z":"","name":"","tab":"d705aefd.600068","order":3,"disp":true,"width":"18","collapse":false},{"id":"d2798c21.0ce7f","type":"mqtt-broker","z":"","name":"iot.eclipse.org","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"71bbcc7a.43448c","type":"mqtt-broker","z":"","name":"dmb","broker":"192.9.200.14","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b8aa226a.e08cd","type":"mqtt-broker","z":"","name":"MessageSight","broker":"192.9.200.227","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"99148c6c.fa51c","type":"mqtt-broker","z":"","name":"test.mosquitto.org","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"d705aefd.600068","type":"ui_tab","z":"","name":"Broker Latency","icon":"dashboard"}]