broker-latency-5.json
[{"id":"3d0155b1.1b1d62","type":"mqtt in","z":"cada641.40a5218","name":"Subscriber","topic":"/latency/#","qos":"1","broker":"365afd7a.500da2","x":380,"y":300,"wires":[["83a5a179.949bb"]]},{"id":"9f827dd3.1665e","type":"mqtt out","z":"cada641.40a5218","name":"Hivemq","topic":"","qos":"1","retain":"","broker":"365afd7a.500da2","x":380,"y":259,"wires":[]},{"id":"49c00599.a3c29c","type":"inject","z":"cada641.40a5218","name":"Every one 1 sec","topic":"timestamp","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":90,"y":180,"wires":[["98f0c24d.544d1"]]},{"id":"b54a1839.cfa1c","type":"debug","z":"cada641.40a5218","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1250,"y":760,"wires":[]},{"id":"3ad70430.8a6acc","type":"function","z":"cada641.40a5218","name":"deltaT","func":"\n// message generation time is in the message\n// itself. Latency is the difference betwen then\n// and now.\nvar d = new Date();\n//console.log (\"d \"+d)\nvar now = d.getTime();\nvar prev = msg.payload;\n\nif (now<prev) {\n        console.log(\"ERROR now \"+now+\" < prev \" +prev+\"!\");\n        prev = now;\n}\n\ndelta = now-prev;\n//console.log(\"tDiff = \",now,\"-\",prev,\"=\",delta);\n\nmsg.payload = delta;\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":420,"wires":[["d856f81e.d5e758","b54a1839.cfa1c"]]},{"id":"d856f81e.d5e758","type":"ui_chart","z":"cada641.40a5218","name":"","group":"9fe73c4.77369c","order":2,"width":"0","height":"0","label":"latency (msec)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1260,"y":320,"wires":[[],[]],"inputLabels":["msg.payload"],"outputLabels":["delta",""]},{"id":"cb60f33.22eec1","type":"inject","z":"cada641.40a5218","name":"Clear chart","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":990,"y":240,"wires":[["d856f81e.d5e758"]]},{"id":"5413bab8.3f2394","type":"comment","z":"cada641.40a5218","name":"Dashboard","info":"","x":1280,"y":260,"wires":[]},{"id":"aa996e19.e70348","type":"comment","z":"cada641.40a5218","name":"Latency processing","info":"","x":950,"y":360,"wires":[]},{"id":"ec440f19.559b5","type":"comment","z":"cada641.40a5218","name":"Brokers","info":"There is no way to parameterize the mqtt out node\nfor the broker name, so I cannot create sub-flows\nthat contain the broker processing.\n","x":373.5,"y":206,"wires":[]},{"id":"433371b4.83dde","type":"change","z":"cada641.40a5218","name":"Put broker name in topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"broker.hivemq.com","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":320,"wires":[["3ad70430.8a6acc"]]},{"id":"aee6def1.16c7d","type":"mqtt in","z":"cada641.40a5218","name":"Subscriber","topic":"/latency/#","qos":"1","broker":"d2798c21.0ce7f","x":379,"y":432,"wires":[["80ddb95e.b441d8"]]},{"id":"7e0fdece.9d4158","type":"mqtt out","z":"cada641.40a5218","name":"iot.eclipse.org","topic":"","qos":"1","retain":"","broker":"d2798c21.0ce7f","x":399,"y":391,"wires":[]},{"id":"54933ec2.70cf","type":"change","z":"cada641.40a5218","name":"Put broker name in topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"iot.eclipse.org","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":646.5,"y":437,"wires":[["3ad70430.8a6acc"]]},{"id":"e86c0771.9497d","type":"mqtt in","z":"cada641.40a5218","name":"Subscriber","topic":"/latency/#","qos":"1","broker":"71bbcc7a.43448c","x":360,"y":540,"wires":[["c3d62ec7.9d2dd"]]},{"id":"4245e439.6dcd8c","type":"mqtt out","z":"cada641.40a5218","name":"Mosquitto","topic":"","qos":"1","retain":"","broker":"71bbcc7a.43448c","x":360,"y":499,"wires":[]},{"id":"223df676.3c4242","type":"change","z":"cada641.40a5218","name":"Put broker name in topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"mosquitto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":627.5,"y":545,"wires":[["3ad70430.8a6acc"]]},{"id":"baba3a93.1479a8","type":"mqtt in","z":"cada641.40a5218","name":"Subscriber","topic":"/latency/#","qos":"1","broker":"b8aa226a.e08cd","x":380,"y":760,"wires":[["d09456f3.8afa28"]]},{"id":"24573e12.8e9ee2","type":"mqtt out","z":"cada641.40a5218","name":"MessageSight","topic":"","qos":"1","retain":"","broker":"b8aa226a.e08cd","x":400,"y":719,"wires":[]},{"id":"b3fa6591.6cb358","type":"change","z":"cada641.40a5218","name":"Put broker name in topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"Messagesight","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":647.5,"y":765,"wires":[["3ad70430.8a6acc"]]},{"id":"891b466e.d52fb8","type":"mqtt in","z":"cada641.40a5218","name":"Subscriber","topic":"/latency/#","qos":"1","broker":"99148c6c.fa51c","x":360,"y":660,"wires":[["fb44d9ef.888128"]]},{"id":"f66c86ae.755eb8","type":"mqtt out","z":"cada641.40a5218","name":"test.mosquitto.org","topic":"","qos":"1","retain":"","broker":"99148c6c.fa51c","x":390,"y":619,"wires":[]},{"id":"647d4e72.83bc1","type":"change","z":"cada641.40a5218","name":"Put broker name in topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"test.mosquitto.org","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":627.5,"y":665,"wires":[["3ad70430.8a6acc"]]},{"id":"72d89ad1.b93e84","type":"ui_template","z":"cada641.40a5218","group":"9fe73c4.77369c","name":"","order":0,"width":0,"height":0,"format":"<div><p ng-style=\"{color: 'black', background: 'white'}\">Check out <A HREF=https://www.gambitcomm.com>MIMIC MQTT Simulator</A> to test end-to-end latency at high scale.</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1260,"y":360,"wires":[[]]},{"id":"ad1d7e29.544e9","type":"ui_text","z":"cada641.40a5218","group":"1f6b2710.c9b579","order":0,"width":0,"height":0,"name":"","label":"Wrong tab","format":"{{msg.payload}}","layout":"row-spread","x":1270,"y":500,"wires":[]},{"id":"7b1eae2a.e6b34","type":"comment","z":"cada641.40a5218","name":"One-time initialization","info":"If you change the topic prefix, you also need\nto change the subscriber nodes, since there is no\nway to parameterize the topic in the mqtt in nodes.\n","x":300,"y":60,"wires":[]},{"id":"37b4f641.08a4fa","type":"inject","z":"cada641.40a5218","name":"Initialize","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":120,"wires":[["66d7586c.2aa8a8"]]},{"id":"93d839d9.e72cf8","type":"change","z":"cada641.40a5218","name":"Unique topic","rules":[{"t":"change","p":"topic","pt":"flow","from":"$","fromt":"re","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":120,"wires":[[]]},{"id":"98f0c24d.544d1","type":"change","z":"cada641.40a5218","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"topic","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":280,"wires":[["9f827dd3.1665e","7e0fdece.9d4158","4245e439.6dcd8c","f66c86ae.755eb8"]]},{"id":"66d7586c.2aa8a8","type":"change","z":"cada641.40a5218","name":"Unique topic prefix","rules":[{"t":"set","p":"topic","pt":"flow","to":"/latency/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":120,"wires":[["93d839d9.e72cf8"]]},{"id":"812c0efb.f49d3","type":"comment","z":"cada641.40a5218","name":"Filter out topic","info":"There is no way to parameterize the topic in the\nsubscribe node, so I am forced to subscribe to\nthe topic prefix (set in initialization), and\nfilter out the other latency tests running on\nthe internet.\n","x":530,"y":220,"wires":[]},{"id":"83a5a179.949bb","type":"switch","z":"cada641.40a5218","name":"Filter topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"topic","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":280,"wires":[["433371b4.83dde"]]},{"id":"80ddb95e.b441d8","type":"switch","z":"cada641.40a5218","name":"Filter topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"topic","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":400,"wires":[["54933ec2.70cf"]]},{"id":"c3d62ec7.9d2dd","type":"switch","z":"cada641.40a5218","name":"Filter topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"topic","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":532,"y":509,"wires":[["223df676.3c4242"]]},{"id":"fb44d9ef.888128","type":"switch","z":"cada641.40a5218","name":"Filter topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"topic","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":551,"y":631,"wires":[["647d4e72.83bc1"]]},{"id":"d09456f3.8afa28","type":"switch","z":"cada641.40a5218","name":"Filter topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"topic","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":577,"y":723,"wires":[["b3fa6591.6cb358"]]},{"id":"8fc56a37.b4fa68","type":"comment","z":"cada641.40a5218","name":"NODE-RED latency demo (c) 2018 Gambit Communications, Inc (double-click for copyright)","info":"Copyright (c) 2018 Gambit Communications, Inc.\nDistributed under GNU GPL\nhttps://www.gnu.org/licenses/gpl.html\n\n\nThis measures end-to-end latency for the selected\nbrokers.\n\nComments in the flow have more details. Double-click\nto display.\n","x":650,"y":20,"wires":[]},{"id":"365afd7a.500da2","type":"mqtt-broker","z":"","name":"Hivemq","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"9fe73c4.77369c","type":"ui_group","z":"","name":"","tab":"d705aefd.600068","order":3,"disp":true,"width":"18","collapse":false},{"id":"d2798c21.0ce7f","type":"mqtt-broker","z":"","name":"iot.eclipse.org","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"71bbcc7a.43448c","type":"mqtt-broker","z":"","name":"dmb","broker":"192.9.200.14","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b8aa226a.e08cd","type":"mqtt-broker","z":"","name":"MessageSight","broker":"192.9.200.227","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"99148c6c.fa51c","type":"mqtt-broker","z":"","name":"test.mosquitto.org","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1f6b2710.c9b579","type":"ui_group","z":"","name":"Error","tab":"b94da071.1af4b","disp":true,"width":"6","collapse":false},{"id":"d705aefd.600068","type":"ui_tab","z":"","name":"Broker Latency","icon":"dashboard"},{"id":"b94da071.1af4b","type":"ui_tab","z":"","name":"ERROR","icon":"dashboard"}]